body {
    background-color: darkslategrey;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: rgb(40, 70, 70);
}

header {
    margin-top: 70px;
}

.col-xs-2 {
    margin-top: 8px;
}

.col-xs-6 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contact {
    margin-top: 70px;
}

li {
    padding: 2px;
}