body {
    background-color: darkslategrey;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: rgb(40, 70, 70);
}

header {
    border-bottom: 5px solid white;
}

img {
    margin: 20px;
}

#col-xs-2 {
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 30px;
}

#col-xs-6 {
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contact {
    margin-top: 70px;
    padding: 10%;
    margin: 10%;
}

li {
    padding: 2px;
}

.container {
    padding-top: 3%;
    margin-top: 3%;
}

nav {
    display: inline;

}

.navlinks {
    margin-right: 3%;

}



